body {
    background-color: linen;
    color: red;
    font-family: Courier New;
}

p:first-of-type{
	border-style: dotted;
	border-width: 4px;
}

h1{
	margin-left: 20px;
	color: blue;
	font-family: Verdana
}

p {
	padding-top: 30px;
}



a{
	text-decoration: none;
	color:red;
	background-color: lightblue;
}

a:visited{
	background-color: lightblue;
}

a:active{
background-color: yellow;
}

a:hover{
	color:black;
	background-color: yellow;
}

ul{
	list-style-type: square;
}

ol{
	list-style-type: upper-roman;
}

.highlight:hover{
	background-color: lightblue;
}
